.todo-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: auto;
    height: 100%;
    margin: 30px;
    border: 1px solid #18122B;
    background: #F4EEE0;
    color: #393646;
}

.todo-item {
    height: 50px;
    border-bottom: 1px solid #18122B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-item:last-child {
    border-bottom: none;
}

.header {
    background: #6D5D6E;
    width: 100%;
    border-bottom: 1px solid #18122B;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.input-box {
    padding: 15px;
    display: flex;
}

input {
    flex: 1;
    border: 1px solid gray;
    border-right: 0;
    padding: 10px 8px;
    border-radius: 0;
    font-size: 16px;
    background: #F4EEE0;
}

button {
    padding: 15px 8px;
    width: 50px;
    height: 100%;
    border: 1px solid gray;
    background: #4F4557;
}